<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<main>
  @if(loading)
  {
    <div class="hive-interior">
      <h2>Beehive<app-help-link link="beehive" /></h2>
      <p><app-loading-throbber [randomText]="true"/></p>
    </div>
  }
  @else
  {
    <div class="hive-interior">
      <h2>Beehive<app-help-link link="beehive" /></h2>
      <app-npc-dialog npc="bee-queen" [name]="'Queen ' + beehive.queenName">
        @if(dialog)
        {
          <p>{{ dialog }}</p>
        }
        @else if(beehive.isWorking)
        {
          <p>Bzzbzz the colony is working hard thanks to the food you brought us. Thank you bzzbzz.</p>
          @if(beehive.workers >= 2000 && !user.canAssignHelpers)
          {
            <p>Also, the colony has grown, thanks to your help. We've been thinking about branching out. Do you have any ideas?</p>
          }
        }
        @else
        {
          <p>Bzzbzz the colony is always in need of more flowers, fruit, and planty foods. Will you help us?</p>
          @if(beehive.workers >= 2000 && !user.canAssignHelpers)
          {
            <p>Also, the colony has grown, thanks to your help bzzbzz. We've been thinking about branching out. Do you have any ideas?</p>
          }
        }
      </app-npc-dialog>
      @if(beehive.workers >= 2000 && !user.canAssignHelpers)
      {
        <ul class="dialog-choices" [class.disabled]="interacting">
          <li><button type="button" (click)="doAssignHelper()">"Branching out? Maybe one of my pets can help you..."</button></li>
        </ul>
      }
      <div class="bee-inside">
        <div class="colony">
          <h3>Colony</h3>
          <div class="bar-with-button">
            <app-progress-bar label="Flower Power" [percent]="beehive.flowerPowerPercent" />
            <div class="buttons" [class.disabled]="interacting"><button type="button" (click)="doGiveItem()" [class.disabled]="beehive.flowerPowerIsMaxed">Feed</button></div>
          </div>
          <div><i class="fa-regular fa-bee"></i> {{ beehive.workers|number }} workers</div>
        </div>
        @if(user.canAssignHelpers)
        {
          <div class="helper">
            <h3>Helper</h3>
            @if(beehive.helper)
            {
              <div class="helper-deets">
                <div><button type="button" (click)="doViewHelper()" class="link-text"><app-pet-appearance [pet]="beehive.helper" /></button></div>
                <div>
                  <p><span style="font-weight:bold;">{{ beehive.helper.name }}</span> is helping the bees.</p>
                  <div class="buttons" [class.disabled]="interacting">
                    <button type="button" (click)="doRecallHelper()">Take Home</button>
                  </div>
                </div>
              </div>
            }
            @else
            {
              <p>No one is helping the bees out right now. (A pet skilled at hunting and/or gathering would really help here!)</p>
              <div class="buttons" [class.disabled]="interacting">
                <button type="button" (click)="doAssignHelper()">Assign a Helper</button>
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="bee-outside">
      <div class="progress">
        <h3>Progress</h3>
        @for(bar of bars; track bar.bar)
        {
          <div class="bar-with-button">
            <app-progress-bar [label]="bar.label" [percent]="bar.percent" />
            @if(bar.percent >= 1)
            {
              <div class="buttons" [class.disabled]="interacting"><button type="button" (click)="doToggleDeploy(bar.bar)" [class.wire]="deploying === bar.bar">{{ deploying === bar.bar ? 'Cancel' : 'Harvest' }}</button></div>
            }
            @else
            {
              <span class="bar-status">{{ bar.growing ? 'Building...' : 'Stalled' }}</span>
            }
          </div>
        }
      </div>
      <div class="pointer" [class.deploying]="!!deploying" aria-hidden="true"></div>
      <div class="terrain">
        @if(deploying)
        {
          <p class="sr-only">Choose a space to deploy the {{ deployingLabel }} on.</p>
        }
        <app-beehive-spaces [spaces]="beehive.spaces" [selectable]="!!deploying && !interacting" (spaceChosen)="doDeployOnSpace($event)" />
      </div>
      @if(canReroll)
      {
        <div class="compass" [class.disabled]="interacting || deploying">
          <img src="/assets/images/items/tool/compass/navigation-gold.svg" alt="" aria-hidden="true" />
          <div>
            <p>Use a Gold Compass to find new land.</p>
            <div class="buttons"><button type="button" (click)="doReroll()">Do it!</button></div>
          </div>
        </div>
      }
    </div>
  }
</main>
