<!--
  ~ This file is part of the Poppy Seed Pets Webapp.
  ~
  ~ The Poppy Seed Pets Webapp is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~
  ~ The Poppy Seed Pets Webapp is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with The Poppy Seed Pets Webapp. If not, see <https://www.gnu.org/licenses/>.
  -->
<img class="portrait" [src]="'/assets/images/star-kindred/portraits/' + character.portrait + '.png'" alt="" />
<div class="details">
  <h5>{{ character.name }}</h5>
  <div>Level {{ character.level }} {{ character.race }} {{ character.class }}</div>
  <small><span class="faded">played by</span> <app-pet-appearance class="pet" [pet]="character.pet" size="2em" [showLunchbox]="false" [disableEgg]="true" /> <span class="faded">{{ character.pet.name }}</span></small>
</div>
