{
  "ConnectionStrings__PoppySeedPets": "Server=psp-db.xxxxxxxx.us-east-1.rds.amazonaws.com;Database=poppyseedpets;Uid=psp_app;Pwd=REPLACE_ME;SslMode=Required",

  "Cors__AllowedOrigins__0":           "https://poppyseedpets.com"
}
